@model TechJobsPersistent.Models.Employer

<h1>Employer: @Model.Name</h1>
<p>Location: @Model.Location</p>



@*<h1>Employer: Name</h1>

    <div>
        <p>Name: name</p>
        <p>Location: location</p>
    </div>*@









